<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <!-- <script src="/static/clientsideFiltering.js"></script> -->

    <title>{% block title %}{% endblock %} | Pokedex</title>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
